 @font-face
   font-family Cuprum
   font-style normal
   src url(../fuentes/Cuprum-Regular.ttf)
 @font-face
   font-family Cuprum
   font-style bold
   src url(../fuentes/Cuprum-Bold.ttf)
  
$fuente = 'Cuprum', Arial, sans-serif
$grisusar = #e9e9e9
$naranja = #f68c30
$grish1 = #d9d9d9
$parrafo = #5b5b5b
$grish2 = #3d3d3d


body
	background-image url(../img/background.jpg)
	background-position top center
	background-repeat no-repeat
	background-color #ffffff
	font-size 20px
	color white
	font-family $fuente
	font-weigth normal
span 
	font-size 14px

h1
	font-family $fuente
	font-size 36px
	text-transform uppercase
	color $grish1
	letter-spacing 7px
h3
	font-family $fuente
	color $grish2
	font-size 18px

p 
	color $parrafo
	font-size 13pt
.lineadebajo
	border-bottom 1px solid $grisusar
	margin-bottom 20px
	
.naranja
	color $naranja
#contenedor
	max-width 970px !important

#header
	height 250px

.sprite
	background url('../img/sprites/sprites.png') no-repeat top left
	width 40px
	height 39px
.sprite.asistencia
	background-position: 0 0
	width 244px
	height 100px
	&:hover
		cursor pointer 
		
.sprite.facebook 
	background-position -254px 0
	&:hover
		cursor pointer 
.sprite.leftarrow 
	background-position: -304px 0; 
	width: 21px; 
	height: 43px;
	&:hover
		cursor pointer

.sprite.linkedin
	background-position: -335px 0; 
	&:hover
		cursor pointer 

.sprite.logo { background-position: -385px 0; width: 181px; height: 74px; } 

.sprite.rightarrow 
	background-position: -576px 0; 
	width: 21px; 
	height: 43px;
	&:hover
		cursor pointer

.sprite.sloga
	background-image url('../img/sprites/slogan.png')
	height: 30px; 
	width: 80px; 
	
.sprite.sombrabajomenu 
	background-position -697px 0 
	float right
	height 40px
	margin-top 9px
	width 633px 
	
.sprite.twitter
	background-position: -1340px 0;
	&:hover
		cursor pointer 

.sociales
	display block
	float right
	margin-right -20px
	li
		display inline-block
	
small
	color: grey
	font-size 8pt

#menu
	padding 23px 0px 10px 7px
	font-size 11pt
	ul
		li
			padding-left 20px
			display inline-block
			text-decoration none
			text-shadow 2px 2px 1px black
			a 
				color white
				
#imagenSlider
	border-bottom 10px solid $grisusar
	margin-bottom 10px
#controlSlider
	ul
		li
			display inline-block

#estadoSlider
	ul
		li
			display inline-block
				
.puntos
	width 16px
	height 16px
	background-color $grisusar
	border-radius 16px


.puntaActivo
	background-color $naranja
	
#quienesSomos
	margin-top 50px
	div
		&:nth-child(2)
			padding-left 40px

.columna
	border-left 7px solid $grisusar


.meteTop
	line-height 27px
	margin-top 0px

#galeria
	margin-top 50px
	
h2
	color $grish2
	font-family $fuente
	font-size 22px
	
#clientes
	margin-top 50px
	img
		border 1px solid $grisusar
		margin-bottom 15px
#footer
	border-top 10px solid $grisusar