 @font-face
   font-family Cuprum
   font-style normal
   src url(../fuentes/Cuprum-Regular.ttf)
 @font-face
   font-family Cuprum
   font-style bold
   src url(../fuentes/Cuprum-Bold.ttf)
  
$fuente = 'Cuprum', Arial, sans-serif
$grisusar = #e9e9e9
$naranja = #f68c30

body
	background-image url(../img/background.jpg)
	background-position top center
	background-repeat no-repeat
	background-color #ffffff
	font-size 20px
	color white
	font-family $fuente
	font-weigth normal

#contenedor
	max-width 970px !important

#header
	height 250px

.sprite
	background url('../img/sprites/sprites.png') no-repeat top left
	width 40px
	height 39px
.sprite.asistencia
	background-position: 0 0
	width 244px
	height 100px
	&:hover
		cursor pointer 
		
.sprite.facebook 
	background-position -254px 0
	&:hover
		cursor pointer 
.sprite.leftarrow 
	background-position: -304px 0; 
	width: 21px; 
	height: 43px;
	&:hover
		cursor pointer

.sprite.linkedin
	background-position: -335px 0; 
	&:hover
		cursor pointer 

.sprite.logo { background-position: -385px 0; width: 181px; height: 74px; } 

.sprite.rightarrow 
	background-position: -576px 0; 
	width: 21px; 
	height: 43px;
	&:hover
		cursor pointer

.sprite.sloga
	background-image url('../img/sprites/slogan.png')
	height: 30px; 
	width: 80px; 
	
.sprite.sombrabajomenu 
	background-position -697px 0 
	float right
	height 40px
	margin-top 8px
	width 633px 
	
.sprite.twitter
	background-position: -1340px 0;
	&:hover
		cursor pointer 

.sociales
	display block
	float right
	margin-right -20px
	li
		display inline-block
	
small
	color: grey
	font-size 8pt

#menu
	padding 23px 0px 10px 7px
	font-size 11pt
	ul
		li
			padding-left 20px
			display inline-block
			text-decoration none
			text-shadow 2px 2px 1px black
			a 
				color white
				
#imagenSlider
	border-bottom 10px solid $grisusar
	margin-bottom 10px
#controlSlider
	ul
		li
			display inline-block

#estadoSlider
	ul
		li
			display inline-block
				
.puntos
	width 16px
	height 16px
	background-color $grisusar
	border-radius 16px


.puntaActivo
	background-color $naranja
	
#quienesSomos
	margin-top 50px